@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
    --background: #492005db;
    --text: #fff;
    --text2: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: url(/img/img1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}

h1, h2 {
    text-align: center;
}

button {
    margin: 10px;
}

/* Estilos para la lista de viajes */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

/* Estilos para el botón de "Ver más" */
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
